body {
    background-color: #181818;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
}

table {
    background-color: grey;
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

thead {
    background-color: lightgrey;
}

th {
    height: 30px;
    border: 1px solid black;
    padding: 5px;
}

td {
    height: 30px;
    border: 1px solid black;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgb(129, 118, 118);
}

tr {}

tr:hover {
    background-color: darkgrey;
}

tbody {}

form {
    background-color: dimgrey;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
}

input {
    margin-bottom: 10px;
    border-radius: 10px;
    height: 32px;
}

label {}

select {
    width: 70px;
}

input [type="submit"] {
    color: #fff;
    background: #16a085;
}

a {
    cursor: pointer;
    color: black;
    padding: 5px;
}

button {
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    background: #16a085;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

#loginbox {
    display: hidden;
}
