body {
    background-color: #fff;
    color: #03045E;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Rubik', sans-serif;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    border-color: #0096C7;
    border-radius: 5px;
}

thead {
    background-color: #0096C7;
}

th {
    height: 30px;
    border: 1px solid white;
    padding: 5px;
}

td {
    height: 30px;
    border: 1px solid #0096C7;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr {}

tr:hover {
    background-color: #0096C7;
}

tbody {}

form {
    background-color: #0496FF;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
}

input {
    margin-bottom: 10px;
    border-radius: 10px;
    height: 32px;
}

label {}

select {
    width: 100px;
    margin-bottom: 10px;
}

input [type="submit"] {
    color: #fff;
    background: #16a085;
}

a {
    cursor: pointer;
    color: black;
    padding: 5px;
}

button {
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    background: #16a085;
}

h1, h2, h3, h4, h5, h6 {
    color: #0496FF;
}

#loginbox {
    display: none;
}

#Status {
    display: none;
}

